@use './_breakpoints.scss' as *;

// Container mixin that can be used anywhere - matches header width
@mixin container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 16px;

  @include up(md) { 
    max-width: 1104px; 
    padding-inline: 20px; 
  }
  @include up(lg) { 
    max-width: 1472px; 
    padding-inline: 24px; 
  }
  @include up(xl) { 
    max-width: 1656px; 
    padding-inline: 32px; 
  }
}
