@use './_breakpoints.scss' as *;

// Container mixin that can be used anywhere
@mixin container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 16px;

  @include up(md) { 
    max-width: 960px; 
    padding-inline: 20px; 
  }
  @include up(lg) { 
    max-width: 1280px; 
    padding-inline: 24px; 
  }
  @include up(xl) { 
    max-width: 1440px; 
    padding-inline: 32px; 
  }
}
